body{font-family: 'robot', serif; font-size: 15px; font-weight: 400; line-height: 1.0em;}
p{font-weight: 400; margin-bottom: 15px;}
h1,h2,h3,h4,h5,h6{font-weight: 700; margin-bottom: 15px;}

#header_area{height: 150px; border-top: 5px solid #3bafbe; border-bottom: 1px solid #ddd; padding: 20px 0;}
.social_area{width: 100%; margin-bottom: 20px;}
.social_area ul{margin: 0px; list-style: none;}
.social_area ul li{display: inline-block; margin-left: 5px;}
.social_area ul li a{background: #1f1f1f; width: 35px; height: 35px; color: #fff; display: block; text-align: center; padding-top: 10px; border-radius: 50%; transition: 0.5s;}
.social_area ul li a:hover{background: #ee802f;}

.logo{margin-left: 46px; margin-top: 30px;}

.com-md-9{margin-left: 180px;}

.search_area{text-align: right; width: 100%; clear: both; margin-bottom: 28px;margin-top: 14px;}
.search_area input[type="text"]{background: #333333; color: #fff; border: 0px solid; padding: 18px; border-radius: 10px; height: 30px;}
.search_area input[type="submit"]{background: #3bafbe; color: #fff;border: 0px solid;cursor: pointer; height: 35px; width: 68px; transition: 0.05s;border-radius: 10px; }
.search_area input[type="submit"]:hover{background: #ee802f;}


#main_menu{text-align: right; margin-top: 20px;}
#main_menu ul{margin: 0; padding: 0; list-style: none;}
#main_menu ul li{display: inline-block;}
#main_menu ul li a{display: block; font-size: 14px; color: #999999; text-transform: uppercase; text-decoration: none; padding: 5px 15px; transition: 0.05s;}
#main_menu ul li a:hover{color: #3bafba;}

#banner_area{width: 100%; overflow: hidden; position: relative; padding: 20px;}
#banner_area .item{width: 100%; overflow: hidden; float: right;}
#banner_area .item img{width: 40%; height: auto;}

.banner_text{height: 100%; left: 0; position: absolute; top: 0; width: 100%;}
.banner_table{display: table; height: 100%; width: 100%;}
.banner_align{display: table-cell; height: 100%; vertical-align: middle; width: 100%;}
.banner_textarea{margin: 0 auto; width: 1170px;}
.main_banner{float: right; width: 50%;}
.main_banner a{background: #3bafba none repeat scroll 0 0; border-radius: 25px; color: #fff; display: inline-block; padding: 10px 20px; text-decoration: none;}
.main_banner a:hover{background: #262626 none repeat scroll 0 0;}

.bx-wrapper .bx-controls-direction a{display: none;}
.bx-wrapper .bx-pager{text-align: center; color: #3bafbe}
.bx-wrapper .bx-pager.bx-default-pager .bx-pager-item a{background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: 4px solid #3bafbe; border-radius: 50%; height: 20px; width: 20px;}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus{background: #3bafbe;}

#intro{padding: 40px 0;}
#intro img{display: block; width: 100%; height: auto; margin-bottom: 20px;}
#intro a{background: #3bafba none repeat scroll 0 0; border-radius: 25px; color: #fff; display: inline-block; margin-bottom: 20px;
padding: 10px 20px; text-decoration: none;}
#intro a:hover{background: #262626 none repeat scroll 0 0;}

#service_area{border-top: 1px solid #ddd; padding: 50px 0;}
#service_area .col-md-12 {text-align: center; color: #666666; font-size: 22px; font-weight: 400; font-style: italic; margin-bottom: 50px;}
#service_area .col-md-4 img{float: left; margin-right: 10px; margin-bottom: 10px;}
#service_area .col-md-4 h4{font-size: 15px; font-weight: 400; margin-bottom: 10px;}
#service_area .col-md-4 p{font-size: 12px; margin-bottom: 0; line-height: 1.4em;}
#service_area .col-md-4 h4 a{color: #3bafbe;}

#footer_area{background: #252525; padding: 40px 0; color: #999999;}
#footer_area .col-md-3{margin-bottom: 10px;}
#footer_area a{color: #3bafbe;}
#footer_area h3{font-size: 20px; color: #fff;}
#footer_area ul{margin: 0; padding: 0; list-style: none;}
#footer_area ul li{display: block; margin-bottom: 5px; border-bottom: 1px solid #999999;}
#footer_area ul li a{color: #3bafbe; padding: 5px; display: block;}
#footer_area input{margin-bottom: 10px;}
#footer_area input[type="text"], [type="email"]{background: #333333; color: #fff; border: 0px solid; padding: 18px; border-radius: 10px; height: 30px;}
#footer_area input[type="submit"]{background: #3bafbe; color: #fff;border: 0px solid;cursor: pointer; height: 35px; width: 68px; transition: 0.05s;border-radius: 10px; }
#footer_area input[type="submit"]:hover{background: #ee802f;}
#footer_area .more{color: #3bafbe; float: right;margin-right: 30px;}

#copyright{background: #1a1a1a; padding: 15px 0; color: #fff;}
#copyright p{margin: 0;}
#copyright .col-md-6:last-child{text-align: right;}

/*galaxy s5, iphone 5/SE, iphone X, iphone 6/7/8 */
@media all and (min-width: 320px) and (max-width: 375px){
    .social_area ul{text-align: center; margin-bottom: 10px;}
    .logo{float: none; margin: 0 auto 10px; text-align: center; width: 200px; margin-bottom: 10px;} 
    .search_area{margin-right: 200px; margin-bottom: 20px; display: none;}

    #main_menu{text-align: center;}
    #main_menu ul li a{display: block; font-size: 14px; color: #999999; text-transform: uppercase; text-decoration: none; padding: 5px 15px; transition: 0.05s;}

    .slicknav_menu{display: none;}

    #banner_area h1{font-size: 20px;}
    .banner_textarea{width: 100%;}
    .main_banner{float:right; width: 50%;}
    #intro .col-md-4{margin-bottom: 10px;}
    #footer_area .col-md-3{margin-bottom: 20px;}
    #copyright p{text-align: center; margin-top: 10px;}
    #footer_area input{margin-bottom: 10px; width: 100%;}
    #footer_area input[type="submit"]{width: 150px;}
}


/*pixel2, pixel2 XL, iphone 6/7/8 plus*/
@media all and (min-width: 411px) and (max-width: 414px){
    .social_area ul{text-align: center; margin-bottom: 10px;}
    .logo{float: none; margin: 0 auto 10px; text-align: center; width: 200px; margin-bottom: 10px;} 
    .search_area{margin-right: 200px; margin-bottom: 20px; display: none;}

    #main_menu{text-align: center;}
    #main_menu ul li a{display: block; font-size: 14px; color: #999999; text-transform: uppercase; text-decoration: none; padding: 5px 15px; transition: 0.05s;}

    .slicknav_menu{display: none;}

    #banner_area h1{font-size: 20px;}
    .banner_textarea{width: 100%;}
    .main_banner{float:right; width: 50%;}
    #intro .col-md-4{margin-bottom: 10px;}
    #footer_area .col-md-3{margin-bottom: 20px;}
    #copyright p{text-align: center; margin-top: 10px;}
    #footer_area input{margin-bottom: 10px; width: 100%;}
    #footer_area input[type="submit"]{width: 150px;}
}

/*i pad*/
@media all and (min-width: 768px) {
    .search_area{margin-bottom: 35px;margin-top: 5px;}

    #main_menu{text-align: right; margin-top: 0px;}
    #main_menu ul li a{padding: 0px 0px;}
}

/*ipad pro*/
@media all and(max-width: 1024px){
.search_area{text-align: right; width: 100%; clear: both; margin-bottom: 35px;margin-top: 5px;}

#main_menu{text-align: right; margin-top: 0px;}
#main_menu ul li a{padding: 0px 5px;}
}


